<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project Page</title>
</head>

<body>
    {{> header}}
<br>
<p>
    This is project page. Testing
</p>

    {{> footer}}
</body>

</html>